body {
    /* overflow: hidden; */
}

.shrink {
    height: 85vh;
    width: 80%;
    margin: auto;
}

.mainBody {
    height: 68%;
}

.mainBodySub {
    background: rgba(217, 217, 217, 1);
    border-radius: 5px;
}

.mainBodySub > hr {
    border-top: 1px solid black;
    margin: 8px;
}

.bodyBG {
    background: rgba(43, 43, 123, .6);
    border-radius: 10px;
}

.tab {
    background: rgba(217, 217, 217, 1);
    margin: 10px;
    height: 125px;
    border-radius: 5px;
    cursor: pointer;
}

.tab > svg {
    width: 30%;
}

.tab > h3 {
    width: 65%;
}

@media screen and (max-device-width: 640px){

    .shrink {
        width: 90%;
    }

    .mainBody {
        height: auto;
    }
}